.product {
  position: relative;
  margin: 30px;
  padding: 80px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.product_rating {
  display: flex;
}

.product > img {
  /* ">" product js 안에 img라는 하위 태그를 의미 */
  max-height: 50px;
  width: 50%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 50px;
  position: relative;
  top: -20px;
}

.product_info {
  height: 10px;
  margin-bottom: 10px;
  position: relative;
  top: -25px;
}

.product_title {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 0px;
  text-align: center;
}

.price_box {
  background-color: #182b58;
  border-radius: 5px;
  color: #f3f3f3;
  width: 150px;
  height: 40px;
  font-size: 25px;
  position: relative;
  top: 20px;
  left: -15px;
  align-items: center;
  display: flex;
  justify-content: center;
  float: left;
}

.button1 {
  position: relative;
  bottom: -17px;
  left: 170px;
  color: #fff;
  background: #efc45c;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

.price {
  font-size: 25px;
  text-align: center;
  width: 150px;
  height: 40px;
  font-size: 25px;
  position: relative;
  top: 20px;
  left: -15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
