:root {
  --color-dark-blue: #0A1931;
  --color-blue: #182B58;
  --color-yellow: #EFC45C;
  --color-dark-gray: #E4E4E4;
  --color-gray: #F3F3F3;
}

body {
  margin: 0;
  background-color: rgb(234, 237, 237);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}