.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #182b58;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 80px;
    height: 60px;
    margin: 0 auto;
}

.backpage {
    width: 80px;
    height: 60px;
}